.header{
  height: 80px;
  padding-left: 40px;
  padding-right: 40px;
  position: sticky;
  top:0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.img1{
  height: 60px;
}

.nav-list{
  display: flex;
}

.nav-item{
  padding : 1rem;
  color:grey;
}

.section {
  display: flex;
  height: 320px;
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: center;
}

.main {
  display: flex;
}

.aside{
  left :0;
  width:20%;
  padding :1rem;
  display: inline-block;
}

.genre{
  list-style-type: none;
  padding:0;
}

.running-movies {
  display: flex;
  padding: 24px;
  background-color: aliceblue;
  flex-wrap: wrap;
  width: 80%;
}

.movies {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.running {
  width: 100%;
  text-align: center;
}

.movie {
  display: flex;
  width: 32%;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-pic {
  width: 300px;
  max-width: 90%;
  border-radius: 3%;
}

.movie-name {
  width: 100%;
  text-align: center;
  font-weight: bold;
}
.footer{
  display: flex;
  height:40px;
  width: 100%;
  position: static;
  bottom: 0;
  color: aliceblue;
  background-color: black;
  align-items: center;
  justify-content: center;
}