{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block content %}
<h1 class='m-5 text-center'>{{ article.title }}</h1>
<textarea style='width:100%; height: 25rem;'>{{ article.content }} </textarea>
{% if article.image %}
    <img class='d-flex my-3 justify-content-center' src="{{ article.image.url }}" alt="{{ article.image }}"  width="100%" height="300">
{% endif %}
<div class='d-flex justify-content-center'>  
  <a class='btn btn-success m-3' href="{% url 'articles:update' article.pk %}">글 수정</a>
  <a class='btn btn-success m-3' href="{% url 'articles:delete' article.pk %}">글 삭제</a>
</div>
{% endblock content %}