.container {
  display: flex;
  width: 900px;
  flex-wrap: wrap;
}
.item {
  width: 300px;
}
.item-image {
  width: 95%;
  margin: 10px;
  border-radius: 100%;
  background-color: rgb(0, 0, 0);
}
.head {
  width: 100%;
}
.info {
  font-size: 16px;
}
.price {
  font-size: 20px;
  font-weight: bold;
}